---
import { getPostsQuery } from "@/queries/getPostsQuery";

import { fetchGraphQL } from "@/lib/strapi";
import type { GetPostsGraphQlProps } from "@/lib/strapi/types";

import Layout from "@/layouts/Layout.astro";

import { PostsGrid } from "@/components/PostsGrid";

const postsData = await fetchGraphQL<GetPostsGraphQlProps>({
  query: getPostsQuery,
  wrappedByKey: "data",
});
const posts = postsData?.posts.data ?? [];
---

<Layout title="Welcome to Astro." description="Home description">
  <main>
    <div class="max-w-7xl m-auto">
      <PostsGrid client:load posts={posts} />
    </div>
  </main>
</Layout>
