---
import { getPostsQuery } from "@/queries/getPostsQuery";

import { fetchGraphQL } from "@/lib/strapi";
import type { GetPostsGraphQlProps } from "@/lib/strapi/types";

import Layout from "@/layouts/Layout.astro";

import PostCard from "@/components/PostCard.astro";

const postsData = await fetchGraphQL<GetPostsGraphQlProps>({
  query: getPostsQuery,
  wrappedByKey: "data",
});
const posts = postsData?.posts.data ?? [];
---

<Layout title="Welcome to Astro." description="Home description">
  <main>
    <div class="max-w-7xl m-auto">
      <ul class="flex flex-wrap flex-row justify-center gap-6">
        {
          posts.map((post) => (
            <li class="max-w-80">
              <PostCard {...post} />
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
