---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li
  class="bg-gray-800 rounded-lg text-gray-50 text-xl border border-gray-700 bg-gradient-to-br hover:from-gray-800 hover:to-violet-900"
>
  <a href={href} class="block p-6">
    <h2 class="">
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
