---
import AstroLogo from "../assets/AstroLogo.astro";

const currentPath = Astro.url.pathname;

const links = [
  { href: "/", label: "Home" },
  { href: "/blog/", label: "Blog" },
];
---

<header>
  <AstroLogo />
  <h1 class="text-white text-6xl font-bold text-center my-20">
    Astro <span class="text-violet-500">Blog</span>
  </h1>
  <nav role="menu">
    <ul
      class="flex gap-6 text-white font-semibold text-2xl justify-center mb-8"
    >
      {
        links.map(({ href, label }) => (
          <li>
            <a
              href={href}
              aria-selected={currentPath === href}
              class="hover:text-violet-500 hover:underline aria-selected:text-violet-500 aria-selected:underline"
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
